<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-world"></i>
            <div data-i18n="Analytics">Rotalar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/User/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-happy"></i>
            <div data-i18n="Analytics">Misafirler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Mail/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message"></i>
            <div data-i18n="Analytics">Kullanıcılara Mail Gönder</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Guide/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-magnet"></i>
            <div data-i18n="Analytics">Rehberlerimiz</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Default/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Ana Sayfaya Git</div>
        </a>
    </li>
    </ul>