@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Batu 404 Aldı-Aradığınız Sayfayı Bulamadık</title>
    <link rel="stylesheet" type="text/css" href="~/simple-404-template-master/assets/css/style.css" />
    <link href="./assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <img class="ops" src="~/simple-404-template-master/assets/images/404.svg" />
        <br />
        <h3>
            Uppsss !! Aradığınız Sayfa Bulunamadı..
            Batu Alakaş Olarak sizlerden özür dileriz
        </h3>
        <br />
        <a class="buton" href="/Default/Index">Ana Sayfaya Dön</a>
    </div>
</body>

</html>